
<div class="form-container">
  <form class="form">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Direccion de Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">Recordar usuario
      <label class="form-check-label" for="exampleCheck1"></label>
    </div>
    <div class="forgot-password-container">
      <span class="psw"><a href="#">Olvidó su contraseña?</a></span>
    </div>
    <div class="button-container">
      <button type="submit" class="btn btn-primary">Ingresar</button>
      <button type="submit" class="btn btn-secondary">Nuevo Usuario</button>
    </div>
  </form>
</div>


<app-registrar-usuario></app-registrar-usuario>
