<section class="login-section">
  <h2 class="text-center mb-5 mt-2">MarioBressano.com</h2>
  <div class="container form-container">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="email" class="form-label">email</label>
        <input id="email" class="form-control" type="text">
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">password</label>
        <input id="password" class="form-control" type="password">
      </div>
      <a class="mt-3 mb-3" href="/forgot-password">Olvidaste tu contraseña?</a>
      <div class="g-3 row d-flex justify-content-around">
        <button class="btn btn-primary col-sm-5 login-btn">Log in</button>
        <a class="btn btn-secondary col-sm-5 login-btn" href="/registrar-user">Registrarse</a>
      </div>
    </form>
  </div>
</section>
